@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
}
/* Base typography styles */
p {
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 24px;
}

h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 24px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}

/* Utility classes for applying different heading styles */
.heading-h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 1rem;
}

.heading-h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 0.875rem;
}

.heading-h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}
